@charset "UTF-8";

/*####### 공통 시작 #######*/
body {
    --bg-page1: #F8F9FA;
    --bg-page2: #FFFFFF;
    --bg-element1: #FFFFFF;
    --bg-element2: #F8F9FA;
    --bg-element3: #E9ECEF;
    --bg-element4: #DEE2E6;
    --bg-element5: #212529;
    --bg-element6: #343A40;
    --bg-element7: #FFFFFF;
    --bg-element8: #FBFDFC;
    --bg-invert: #1E1E1E;
    --bg-inline-code: #E9ECEF;
    --bg-tag: #F8F9FA;
    --text1: #212529;
    --text2: #495057;
    --text3: #868E96;
    --text4: #CED4DA;
    --border1: #343A40;
    --border2: #ADB5BD;
    --border3: #DEE2E6;
    --border4: #F1F3F5;
    --primary1: #12B886;
    --primary2: #20C997;
    --destructive1: #FF6B6B;
    --destructive2: #FF8787;
    --button-text: #FFFFFF;
    --slight-layer: rgba(0,0,0,0.05);
    --opaque-layer: rgba(249,249,249,0.85);
    --editor-footer: #FFFFFF;
    --prism-bg: #fbfcfd;
    --prism-default-text: #24292e;
    --prism-selection-bg: rgba(0,0,0,0.15);
    --prism-code-block-bg: #fbfcfd;
    --prism-code-1: #969896;
    --prism-code-2: #24292e;
    --prism-code-3: #a626a4;
    --prism-code-4: #63a35c;
    --prism-code-5: #0184bc;
    --prism-code-6: #50a14f;
    --prism-code-7: #a626a4;
    --prism-code-8: #005cc5;
    --prism-code-9: #a626a4;
    --prism-line-number: #585c63;
}

*, *:before, *:after {box-sizing:border-box; word-break:keep-all; word-wrap:break-word;}
#pinsign-pinpad-container,
#pinsign-pinpad-container * {box-sizing:content-box;}

html, body {height:100%; overflow: auto;}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, xmp {margin:0;padding:0;}
body {font-size:14px; font-weight:normal; line-height:1.5; font-family: '원신한','OneShinhanLight', 'OneShinhanMedium', 'OneShinhanBold', 'sans-serif'; -webkit-font-family: '원신한','OneShinhanLight', 'OneShinhanMedium', 'OneShinhanBold'; color:#000; word-break:keep-all;-webkit-touch-callout:none; box-sizing:border-box; -webkit-text-size-adjust:none; text-size-adjust:none; /*letter-spacing: -0.05em;*/ }
legend, caption {overflow:hidden;width:1px;height:1px;color:transparent;}
a {text-decoration:none;color:inherit;}
a[href^="tel"] {cursor:default;}
img {vertical-align:middle;border:0 none;}
fieldset, button {background:none;border:0px;}
ul:after,ol:after {content:'';display:block;clear:both;}
li {list-style:none;}
table {width:100%;border-spacing:0px;border-collapse:collapse;}
iframe {width:100%;vertical-align:middle;border:0 none;}
hr {margin:1.25em 0;border:0 none;height:1px;background:#ccc;}
button, input, optgroup, select, textarea {font:inherit;}
button {cursor:pointer; font-family:'OneShinhanMedium';}
h1, h2, h3, h4, h5, h6 {font-family:'OneShinhanLight'; -webkit-font-smoothing:subpixel-antialiased; letter-spacing: -0.07em; font-weight:bold;}
.check_box_custom input[type=checkbox], input[type="text"], input[type="password"], select, textarea {-webkit-appearance:none; -moz-appearance:none;appearance:none; -webkit-border-radius:0; border-radius:0;}
input::-ms-clear {display:none;}
input[type=password]::-ms-reveal {display:none;}
b, strong {font-family:'OneShinhanBold';}
em {font-style:inherit;}


input[type="text"], input[type="password"], select, input[type="number"]{width: 100%; padding:8px 15px 7px 15px; border: 1px solid #DBDEE3; background: #fff; color:#333; font-size:14px;}
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, select:disabled{color: #9BA8B7; border: 1px solid #E3E9EE; background: #F8F9FB;}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus{border: 1px solid #157EFB;}
input[type="text"]::placeholder, input[type="password"]::placeholder{color: #9BA8B7;}
input[type="text"]:read-only, input[type="password"]:read-only, input[type="number"]:read-only{color: #666; border: 1px solid #E3E9EE; background: #F8F9FB;}
input[type="text"].error, input[type="password"].error, input[type="number"].error{border: 1px solid #EA4C55;}
table td{word-break: break-all; word-wrap: break-word;}

.wrap_textarea {position:relative; width:100%;}
.wrap_textarea .count_byte{font-size:13px; color:#999; position:absolute; /*bottom:13px; right:33px;*/bottom: -15px; right: 0;}

/* 버튼 타입 */
.btn_type1{background: #157EFB; color:#fff; border: 1px solid #157EFB;}
.btn_type1:hover{background: #0B4FD4; border: 1px solid #0B4FD4;}
.btn_type1:disabled{background: #a1cbfd; border: 1px solid #a1cbfd;}

.btn_type2{background: #fff; color:#333; border: 1px solid #9BA8B7;}
.btn_type2:hover{background: #F5F5F5; border: 1px solid #9BA8B7;}
.btn_type2:disabled{background: #EFF1F5; color:#9BA8B7; border: 1px solid #DBDEE3;}

.btn_type3{background: #fff; border:1px solid #FA4F56; color: #FA4F56;}
.btn_type3:disabled{color:#fdb9bb; border:1px solid #fdb9bb;}

.btn_type1, .btn_type2, .btn_type3{padding: 9px 20px 8px 20px;}
/* 버튼 타입 */
.btn_group.bottom{font-size:0; margin:60px 20px; padding:40px 0; border-top: 1px solid #E5E5E5; display: flex; flex-direction:row; justify-content: space-between; }
.btn_group.bottom button{padding:16px 16px 15px 16px; font-size:14px; min-width:120px; font-weight:bold;}
.btn_group.not_inner_tab{margin: 60px 0;}

/* 버튼 박스 */
.btn_group.bottom_normal{font-size:0; margin:60px 0; padding:40px 0; border-top: 1px solid #E5E5E5; display: flex; flex-direction:row; justify-content: space-between; }
.btn_group.bottom_normal button{padding:16px 16px 15px 16px; font-size:14px; min-width:120px; font-weight:bold;}

.btn_group.center{width:100%; font-size:0; margin:0 20px; padding:20px 0 0 0; display: flex; flex-direction:row; justify-content: center; }

.btn_small{ padding:6px 11px; font-size:11px;}
.btn_more_circle{width:29px; height:29px; border: 1px solid #DBDEE3; border-radius:30px; background:#fff url('../images/icon_more_dot.svg') no-repeat 50% 50%;}
.wrap_btn_more_circle{display:inline-block; width:100%; position:relative; }
.wrap_btn_more_circle ul{display: none; position:absolute; top:35px; right:0; z-index:10; width:128px; border:1px solid #999; background: #fff; border-radius: 2px;}
.wrap_btn_more_circle:hover ul{display: block;}
.wrap_btn_more_circle:hover ul li{text-align: left; font-size:14px;}
.wrap_btn_more_circle:hover ul li a{color:#333; display: block; width:100%; padding:8px 12px 6px 12px;}
.wrap_btn_more_circle:hover ul li:first-child{margin-top:9px;}
.wrap_btn_more_circle:hover ul li:last-child{margin-bottom:9px;}
.wrap_btn_more_circle:hover ul li:hover{background: #EFF1F5;}
/* 버튼 박스 */

/* 폰트 */
.font0{font-size:0 !important;}
.ar{text-align:right !important;}
.al{text-align:left !important;}
.ac{text-align:center !important;}

.text_ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.relative{position:relative !important;}
.absolute{position:absolute !important;}
.text_disabled{color: #9BA8B7 !important;}

.text_left{text-align: left !important;}
.text_center{text-align: center !important;}
.text_right{text-align: right !important;}
/* 폰트 */

/* 에러 텍스트 */
.text_error{color:#FA4F56;}
.text_error2{color:#FA4F56; text-decoration: underline;}
.text_green{color:#25957A;}
.text_blue{color:#157EFB;}
.text_gray{color:#999;}
.text_red{color: #EA4C55;}
/* 에러 텍스트 */


/* 패딩 설정 */
.padding_none{padding:0 !important;}
.padding_top_none{padding-top:0 !important;}
.padding_bottom_none{padding-bottom:0 !important;}
.padding_left_none{padding-left:0 !important;}
.padding_right_none{padding-right:0 !important;}
.margin_none{margin:0 !important;}
.margin_top_none{margin-top:0 !important;}
.margin_bottom_none{margin-bottom:0 !important;}
.margin_left_none{margin-left:0 !important;}
.margin_right_none{margin-right:0 !important;}
/* 패딩 설정 */

.w10{width:10% !important;}
.w20{width:20% !important;}
.w30{width:30% !important;}
.w40{width:40% !important;}
.w50{width:50% !important;}
.w60{width:60% !important;}
.w70{width:70% !important;}
.w80{width:80% !important;}
.w90{width:90% !important;}
.w100{width:100% !important;}

.m_bottom10{margin-bottom:10px !important;}
.m_bottom20{margin-bottom:20px !important;}
.m_bottom30{margin-bottom:30px !important;}
.m_bottom40{margin-bottom:40px !important;}
.m_bottom50{margin-bottom:50px !important;}
.m_bottom60{margin-bottom:60px !important;}
.m_bottom70{margin-bottom:70px !important;}
.m_bottom80{margin-bottom:80px !important;}
.m_bottom90{margin-bottom:90px !important;}
.m_bottom100{margin-bottom:100px !important;}

.m_top10{margin-top:10px !important;}
.m_top20{margin-top:20px !important;}
.m_top30{margin-top:30px !important;}
.m_top40{margin-top:40px !important;}
.m_top50{margin-top:50px !important;}
.m_top60{margin-top:60px !important;}
.m_top70{margin-top:70px !important;}
.m_top80{margin-top:80px !important;}
.m_top90{margin-top:90px !important;}
.m_top100{margin-top:100px !important;}

.min_height1{min-height:100px !important;}
.min_height2{min-height:150px !important;}
.min_height3{min-height:200px !important;}
.min_height4{min-height:250px !important;}
.min_height5{min-height:300px !important;}
.min_height6{min-height:350px !important;}
.min_height7{min-height:400px !important;}
.min_height8{min-height:450px !important;}
.min_height9{min-height:500px !important;}
.min_height10{min-height:550px !important;}
.min_height11{min-height:600px !important;}
.min_height12{min-height:650px !important;}
.min_height13{min-height:700px !important;}
.min_height14{min-height:750px !important;}
.min_height15{min-height:800px !important;}
.min_height16{min-height:850px !important;}
/*####### 공통 끝 #######*/


/*####### 헤더 시작 #######*/
.header {width: 100% };
.header nav {width: 100%;}
.header .logo {text-align: center; margin: 2.5em 0;}
.header .logo h1 {color: black;}
.header nav ul {
	width: 100%;
	height: 4em;
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column; 수직 정렬*/
	align-items: center;
	justify-content: center;
}

.header nav ul li  {
	display: inline-block;
	margin: 0 1em;
	font-size: 18px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.04em;
}
.header nav ul li:hover{
	transition-duration: 0.3s;
	color: #009923;
}
.header .util_menu {
    position: absolute;
    right: 10em;
    top: 40px;
}
.header .util_menu ul li {
    float: left;
    position: relative;
	margin: 0.5em;
}
.header .util_menu ul li a {
    display: block;
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    height: 30px;
}
/* ####### 헤더 끝 #######*/

/* ####### 푸터 시작 #######*/
.footer_wrap { width: 100%; height: 110px; /* 내용물에 따라 알맞는 값 설정 */ bottom: 0px; position: inherit;}

.footer_wrap a { display: inline-block; margin: 0 20px 10px 20px; color: #808080; font-size: 11px;}

.footer_wrap a:visited { color: #808080;}

.footer_wrap p { margin-top: 0; margin-bottom: 0;}

.footer_wrap p span { display: inline-block; margin-left: 20px;}
/* ####### 푸터 끝 #######*/

/* 메인 */
.main_wrap {
	width: 100%;
	min-height: 1200px;
	border: 1px solid red;
}

/* 팝업 */

.login_section{
	display: none;
}

.dHUcpQ {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--opaque-layer);
    z-index: 10;
    animation: 0.25s ease 0s 1 normal forwards running cJoqxJ;
}


.dWETBP {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 20;
}

.dWETBP .wrapper {
    width: 606px;
    height: 530px;
    animation: 0.4s ease-in-out 0s 1 normal forwards running cptskd;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
    display: flex;
}
.dWETBP .wrapper .gray-block {
    width: 216px;
    background: var(--bg-element2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.dWETBP .wrapper .gray-block img {
    width: 100%;
    height: auto;
    display: block;
}
.dWETBP .wrapper .gray-block .welcome {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    color: var(--text2);
    text-align: center;
    font-weight: 600;
}
.dWETBP .wrapper .white-block {
    flex: 1 1 0%;
    background: var(--bg-page2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.dWETBP .wrapper .white-block .exit-wrapper {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: var(--text3);
    margin-bottom: 2.25rem;
}

.dWETBP .wrapper .white-block .block-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.JnHrt {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.5;
}

.JnHrt h2 {
    font-size: 1.3125rem;
    color: var(--text1);
}

.JnHrt h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text3);
}

.swztF {
    width: 100%;
    display: flex;
    height: 3rem;
}

.swztF input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1rem;
    color: var(--text1);
    flex: 1 1 0%;
    padding: 1rem;
    background: var(--bg-element1);
    border-right: none;
    outline: none;
}

.swztF button {
    background: var(--primary1);
    color: var(--button-text);
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 6rem;
    word-break: keep-all;
    cursor: pointer;
}

.JnHrt section + section {
    margin-top: 2.5rem;
}

.jNMyjf {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.bSWsvS {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    transition: all 0.125s ease-in 0s;
    color: white;
}

.JnHrt .foot {
    text-align: right;
}
.JnHrt .foot span {
    margin-right: 0.25rem;
}
.JnHrt .foot .link {
    display: inline-block;
    font-weight: bold;
    color: var(--primary1);
    cursor: pointer;
}

/* 팝업 */